{% extends "layout.nunjucks" %}

{% set page_title = "case-studies" %}

{% block site_title %}A Collection of Recent Projects | {% endblock %}

{% block page_class %}case-studies{% endblock %}

{% block site_content %}
  <section class="padding-vertical--huge padding-horizontal">
    <h1>Recent case studies.</h1>
  </section>
  
  <section class="casestudies">
  {% for case in pages.CaseStudies %}
    {% if loop.index0 !== 8 %}
    <div class="casestudy padding-all--small">
      <div class="casestudy-content padding-all--small">
        <h3 class="casestudy-title">{{ case.title }}</h3>
        <p class="casestudy-meta">{{ case.type }}</p>
        <p class="casestudy-copy">{{ case.excerpt }}</p>
        <a class="button" href="{{ case.url }}">Read Full Case Study</a>
      </div>
      <img class="casestudy-image" src="{{ case.image }}" alt="{{ case.alt }}">
    </div>
    {% endif %}
  {% endfor %}
  </section>
  
  <section class="cta bg--black padding-vertical padding-horizontal-mobile text-center">
    <p class="mediumw mauto callout no-margin-top margin-bottom">Increasing customer loyalty and engagement starts with trust. Let’s build it together.</p>
    <a class="button button--green" href="/schedule-an-appointment/">Schedule an Appointment</a>
  </section>
  
{% endblock %}