.form {  
  &-field {
    
    label {
      font-size: 85%;
      font-weight: 700;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    
    input {
      font-size: 100%;
    }
  }
}