.text-center {
  text-align: center;
  
  &--desktop {
    @media (min-width: 800px) { text-align: center; }
  }
  
  &--mobile {
    text-align: center;
    @media (min-width: 800px) { text-align: left; }
  }
}
.text-left {
  text-align: left;
  
  &--override { text-align: left !important; }
}
.text-right { text-align: right; }

.text-white { color: $c_white; }

.uppercase { text-transform: uppercase; }

.is-hidden {
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: .2s ease;
}

.maxw {
  max-width: 52ch;
  margin-left: auto;
  margin-right: auto;
}

.tinyw {
  @media (min-width: 800px) { max-width: 14ch; }
}

.smallw {
  @media (min-width: 800px) { max-width: 30ch; }
}

.mediumw {
  @media (min-width: 800px) { max-width: 40ch; }
}

.mauto {
  margin-left: auto;
  margin-right: auto;
}

.separator {
  margin-top: $sp_base * 1;
  margin-bottom: $sp_base * 4;
  height: 1px;
  background: $c_gray;
  border: 0;
}