.margin {
  &-vertical {
    margin-top: $sp_base * 2;
    margin-bottom: $sp_base * 2;
    
    &--big {
      margin-top: $sp_base * 4;
      margin-bottom: $sp_base * 4;
    }
  }
  &-horizontal {
    margin-right: $sp_base * 2;
    margin-left: $sp_base * 2;
    
    &--big {
      margin-right: $sp_base * 4;
      margin-left: $sp_base * 4;
    }
  }
  &-top { margin-top: $sp_base * 2; }
  &-bottom {
    margin-bottom: $sp_base * 2;
    
    &--big {
      margin-bottom: $sp_base * 4;
    }
  }
}

.no-margin {
  &-top {
    margin-top: 0 !important;
    
    &-mobile {
      margin-top: 0 !important;
      
      @media (min-width: 880px) {
        margin-top: $sp_base * 3 !important;
      }
    }
  }
  &-bottom {
    margin-bottom: 0 !important;
    
    &-mobile {
      margin-bottom: 0 !important;
      
      @media (min-width: 880px) {
        margin-bottom: $sp_base * 2 !important;
      }
    }
  }
}