.bg {
  &--white {
    background: $c_white;
  }
  
  &--gray {
    background: $c_gray;
    color: $c_black;
  }
  
  &--lightgreen {
    background: $c_green_light;
    color: $c_black;
  }
  
  &--brightgreen {
    background: $c_green_bright;
    color: $c_black;
  }
}