.button-wrap {
  margin-bottom: $sp_base * 1;
}
.button,
input[type="submit"].button,
button.button {
  padding: $sp_base * .75 $sp_base * 2.5;

  display: inline-block;

  background-color: $c_black;
  border: 0;
  border-radius: 60px;
  color: $c_white;
  
  font-family: $f_body;
  font-size: 80%;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  
  -webkit-appearance: none !important;
  
  @media (min-width: 920px) {
    letter-spacing: 3px;
  }
  
  @media (min-width: 940px) {
    transition: background-color .2s ease;
    &:hover { background-color: rgba($c_black, .6); }
  }

  &--nobg {
    padding: 0;
    background-color: transparent;
    color: $c_black;
  }
  
  &--tiny {
    padding: $sp_base * .125 $sp_base * .75;
    font-size: 85%;
  }

  &--small {
    padding: $sp_base * .5 $sp_base * 1.5;
  }

  &--large {
    padding: $sp_base * 1 $sp_base * 2;
  }
  
  &--xlarge {
    padding: $sp_base * 1.25 $sp_base * 3;
  }
  
  &--gray {
    background-color: $c_gray;
    color: $c_black;
    
    @media (min-width: 940px) {
      &:hover { background-color: rgba($c_gray, .6); }
    }
  }
  
  &--white {
    background-color: $c_white;
    color: $c_black;
    
    @media (min-width: 940px) {
      &:hover { background-color: rgba($c_white, .6); }
    }
  }
  
  &--green {
    background-color: $c_green_bright;
    color: $c_white;
    
    @media (min-width: 940px) {
      &:hover { background-color: rgba($c_green_bright, .6); }
    }
  }
}