.card {
  display: flex;
  flex-flow: column wrap;
  
  height: 100%;
  
  text-decoration: none;
  
  box-shadow: 0 6px 12px rgba($c_black, .02), 0 1px 6px rgba($c_black, .06);

  @media (min-width: 940px) {
    position: relative;
    transition: transform .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    
    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 100%;
      
      box-shadow: 0 6px 12px rgba($c_black, .02), 0 10px 20px rgba($c_black, .06);
      opacity: 0;
      transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    &:hover,
    &:focus {
      transform: scale(1.02);
      
      &::before { opacity: 1; }
    }
    
    &:active {
      transform: scale(.99);
      
      &::before { opacity: 0; }
    }
  }
  
  &-title {
    margin-bottom: $sp_base * 1;
  }
  
  &-copy {
    flex: 1;
    
    .featured & {
      //max-width: 40ch;
    }
  }
  
  &-meta {
    display: flex;
    flex-flow: row nowrap;
    
    margin-top: $sp_base * 1;
    
    span {
      display: block;
      font-size: 65%;
    }
    &_info {
      margin-right: $sp_base * 4;
      
      &:last-of-type { margin-right: 0; }
    }
    &_label {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}