.content-block {
  max-width: 60ch;
  margin: 0 auto $sp_base * 3.5;
  padding-left: $sp_base * 1;
  padding-right: $sp_base * 1;
  
  &.margin-top { margin-top: $sp_base * 2; }
  
  @media (min-width: 740px) {
    margin: 0 auto $sp_base * 4;
    
    &.margin-top { margin-top: $sp_base * 4; }
  }
  
  .landing & {
    max-width: 80ch;
  }

  @media (min-width: 700px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1400px) {
    max-width: 80ch;
  }
  
  @media (min-width: 1650px) {
    max-width: 90ch;
  }

  h2, h3 {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  
  h3 {
    margin-top: $sp_base * 3;
  }

  p {
    margin-left: 0;
    
    &.helper {
      margin-top: -$sp_base * 1;
      margin-bottom: $sp_base * 2;
    }
  }

  dl div {
    margin-bottom: $sp_base * 1;
  }

  dt,
  dd {
    display: inline-block;
    vertical-align: top;
  }
    dt {
      min-width: 80px;
      padding-right: $sp_base * 1;

      font-weight: bold;
      text-align: right;
    }

    dl.list--wide dt {
      min-width: 150px;
    }

    dd {
      margin: 0;
    }
}