.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  
  &-item {
    flex: 1 0 100%;
    margin-bottom: 1rem;
    
    @media (min-width: 980px) {
      flex: 1;
      margin-bottom: 0;
    }
    
    .grid--3 & {
      flex: 1 1 calc(100% / 3);
    }
    
    img {
      max-height: 90px;
      max-width: 250px;
    }
  }
}