.grid {  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  width: 100%;
  
  &--between {
    justify-content: space-around;
  }
  
  &--center-v {
    align-items: center;
  }
  
  @supports (display: grid) {
    &--flow {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: $sp_base * 1;
      
      .grid-item.featured {
        grid-column: 1/3;
      }
    }
  }
  
  &-item {
    flex: 1 0 100%;
    margin-bottom: $sp_base * 1;
    
    .grid--gap-mobile & {
      margin-bottom: $sp_base * 4;
    
      @media (min-width: 800px) { margin-bottom: 0; }
    }
    
    @media (min-width: 800px) {
      flex: 1;
      margin-bottom: 0;
      .grid--2 & { flex: 1 1 50%; }
      .grid--3 & { flex: 1 1 calc(100% / 3); }
    }
  }
}