.hero {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(90vh - 66px);
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
  @media (min-width: 520px) {  
    position: relative;
    overflow: hidden;
    
    @media (min-width: 1200px) {
      height: 600px;
    }
  }
  
  &-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
    
    position: relative;
    z-index: 1;
    
    p {
      color: $c_white;
      
      line-height: 1.6;
      text-shadow: 0 3px 25px rgba(26,65,85,.60);
    }
  }
}