.site {
  margin: 0;

  &-title {
    margin-top: $sp_base * 2;
    margin-bottom: $sp_base * 3.5;
    
    line-height: 1.2;

    @media (min-width: 450px) {
      margin-top: $sp_base * 3;
      margin-bottom: $sp_base * 5;
      line-height: 1;
    }
  }
}