.site-footer {
  margin-bottom: $sp_base * 3;
  padding-bottom: $sp_base * 1;

  @media (min-width: 840px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin-bottom: 0;
  }
  
  &__link {
    color: $c_black;
  }

  &__legal {
    font-size: 100%;
    text-align: center;

    @media (min-width: 840px) {
      flex-basis: 100%;
      margin-left: 0;
    }

    span {
      display: block;
      
      a {
        color: inherit;
      }
    }
  }
}