.site-footer {
  margin-bottom: 66px;
  text-align: center;
  
  @media (min-width: 940px) {
    margin-bottom: 0;
  }
  
  &__link {
    display: block;
    margin-bottom: $sp_base * 1.5;
    color: $c_black;
    
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
    &:last-of-type { margin-bottom: 0; }
    
    @media (min-width: 800px) {
      display: inline-block;
      margin-right: $sp_base * 3.75;
      margin-bottom: 0;
      font-size: 85%;
      
      &:last-of-type { margin-right: 0; }
    }
  }

  &__legal {
    margin-bottom: 0;
    
    font-size: 85%;
    text-align: center;

    @media (min-width: 840px) {
      flex-basis: 100%;
      margin-left: 0;
    }

    span {
      display: block;
      margin-bottom: $sp_base * .5;
      
      @media (min-width: 800px) {
        display: inline;
        margin-bottom: 0;
      }
      a {
        color: inherit;
      }
    }
  }
}