.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;

  padding: $sp_base * .8 $sp_base * 1;
  width: 100%;

  background-color: $c_white;
  border-top: 1px solid darken($c_white, 5%);
  box-shadow: 0 -1px 10px rgba($c_black, .05);
  z-index: 101;

  @media (min-width: 940px) {
    margin-right: $sp_base * 1;

    position: absolute;
    top: 0;
    bottom: initial;
    width: 100%;

    background-color: transparent;
    border-top-width: 0;
    box-shadow: none;
  }
}
  .header-logo {
    display: none;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    
    @media (min-width: 940px) {
      display: block;
      flex: 0 0 auto;
    }
  }
  .header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-basis: 100%;
    
    @media (min-width: 940px) {
      flex-basis: auto;
      justify-content: space-between;
    }
  }
    .nav-logo {
      color: $c_black;
      font-size: 70%;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      
      @media (min-width: 940px) {
        display: none;
      }
    }
    
    .button-schedule {
      font-size: 70%;
      
      @media (min-width: 940px) {
        display: none;
      }
      
      span {
        display: none;
        @media (min-width: 500px) { display: inline; }
      }
    }