.header-nav {
  position: fixed;
  bottom: 66px; left: 0;
  height: auto;
  width: 100%;
  padding-top: $sp_base * 2;
  padding-bottom: $sp_base * 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $c_white;
  box-shadow: 0 -1px 10px rgba($c_black, .05);
  font-size: 110%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease, transform .25s ease;
  transform: translateY(400vh);
  z-index: -1;

  .has-openMenu & {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  @media (min-width: 940px) {
    display: block;
    width: auto;
    position: static;
    padding-top: 0;
    padding-bottom: 0;

    background-color: transparent;
    box-shadow: none;
    
    font-size: 90%;
    font-weight: 500;
    text-transform: uppercase;
    
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    z-index: initial;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    @media (min-width: 940px) {
      text-align: left;
    }
  }

    li {
      display: block;

      @media (min-width: 940px) {
        display: inline-block;
        margin-left: $sp_base * 1.5;
      }
    }

    a {
      display: block;
      padding-top: $sp_base * .75;
      padding-bottom: $sp_base * .75;

      color: $c_black;
      font-size: 90%;
      text-decoration: none;

      @media (min-width: 940px) {
        position: relative;
        display: inline;
        padding-top: 0;
        padding-bottom: 0;
      }

      &.button {
        display: none;
        
        background-color: $c_white;
        color: $c_black;
        
        letter-spacing: 1.5px;

        @media (min-width: 940px) {
          display: inline-block;
          padding: $sp_base * .5 $sp_base * 1.5;
        }
      }
    }
}