{% extends "layout.nunjucks" %}

{% block site_title %}Beautiful Websites Everyone Loves to Use | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <section class="hero home-hero">
    <div class="hero-content text-center">
      <h1>Beautiful Websites Everyone Loves To Use</h1>
      <p class="callout text-white text-shadow">We'll worry about making your website fast, accessible, and easy to use so you can focus on what matters.</p>
      <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
    </div>
  </section>
  
  <section class="padding-vertical text-center">
    <blockquote class="quote">
      <p>&ldquo;Alex is one of our favorite and most invaluable partners.&rdquo;</p>
      <cite>Gabe Kwakyi &ndash; CEO, Incipia</cite>
    </blockquote>
  </section>
  
  <section class="padding-vertical bg--gray text-center">
    <div class="grid">
      <div class="grid-item padding-all">
        <h3>Your Success Is Our Aim</h3>
        <p>We've created websites that engage millions of customers for over 10 years and are dedicated to helping you succeed.</p>
      </div>
      <div class="grid-item padding-all">
        <h3>Understand The Need</h3>
        <p>We teach you to understand how your customer thinks so that your website solves their problems while being a delight to use.</p>
      </div>
      <div class="grid-item padding-all">
        <h3>Be The Champion</h3>
        <p>Multiply your business by giving your customer the best user experience possible because they deserve it, and so do you.</p>
      </div>
    </div>
    <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
  </section>
  
  <section class="padding-vertical">
    <div class="grid grid--center-v">
      <div class="grid-item padding-horizontal">
        <h2>We Care About You & Your Business</h2>
        <p class="smallw margin-vertical--big">We know how frustrating it can be to invest your time making your website just right, to find out it’s not as effective as you were expecting.</p>
        <ul class="margin-top margin-bottom--big list--spaced">
          <li>Over 10 years experience</li>
          <li>Millions of customers engaged</li>
          <li>Beautiful, fast, easy to use websites</li>
        </ul>
        <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
      </div>
      <div class="grid-item">
        <img src="/img/homepage-business.jpg" alt="Man working with his hands">
      </div>
    </div>
  </section>
  
  <section class="hero" style="background-image:url('/img/homepage-services-bg.jpg');">
    <div class="hero-content text-center">
      <div class="grid">
        <div class="grid-item">
          <h4>Research</h4>
          <ul>
            <li>Interview Users</li>
            <li>Analyze Data</li>
            <li>Collaborate</li>
            <li>Hypothesize</li>
          </ul>
        </div>
        <div class="grid-item">
          <h4>Build</h4>
          <ul>
            <li>Sketch</li>
            <li>Prototype</li>
            <li>Test Users</li>
            <li>Validate Hypotheses</li>
          </ul>
        </div>
        <div class="grid-item">
          <h4>Refine</h4>
          <ul>
            <li>Test Users</li>
            <li>A/B Test</li>
            <li>Iterate</li>
            <li>Optimize</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section class="padding-vertical text-center">
    <p class="callout maxw">Worried your website isn’t reaching your customers? Wish you could stop spending so much time on your website and focus on building your business? You’re not alone. You deserve to have a website that works for you. We’re here to help so you can get back to what matters.</p>
    <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
  </section>
  
  <section class="padding-vertical bg--lightgreen">
    <div class="grid">
      <div class="grid-item bg--white padding-all">
        <h2>Want to Be Your Customer's Hero?</h2>
        <p>We’ve discovered six ways customers wished businesses would communicate with them. Adopting these six practices will help you:</p>
        <ul>
          <li>Make your customers love you.</li>
          <li>Exponentially grow customer loyalty.</li>
          <li>Master your customer's needs.</li>
        </ul>
        <form class="form" method="GET" action="">
          <div class="form-field">
            <label for="first-name">First Name</label>
            <input id="first-name" class="form-input" type="text">
          </div>
          <div class="form-field">
            <label for="email">Email Address</label>
            <input id="email" class="form-input" type="email">
          </div>
          <div class="form-field">
            <input class="button button--green" type="submit" value="Download for Free">
          </div>
        </form>
      </div>
      <div class="grid-item">
        <img src="/img/homepage-pdf-cover.jpg" alt="6 Ways Customers Wished Businesses Would Communicate">
      </div>
    </div>
  </section>
  
{% endblock %}