{% extends "layout.nunjucks" %}

{% block site_title %}Beautiful Websites Everyone Loves to Use | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <section class="hero home-hero">
    <div class="hero-content padding-horizontal text-center">
      <h1>Beautiful Websites Everyone Loves To Use</h1>
      <p class="callout mediumw mauto text-white text-shadow">I'll worry about making your website fast, accessible, and easy to use so you can focus on what matters.</p>
      <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
    </div>
  </section>
  
  <section class="padding-all text-center">
    <blockquote class="quote">
      <p>&ldquo;Alex is one of our favorite and most invaluable partners.&rdquo;</p>
      <cite>Gabe Kwakyi &ndash; CEO, Incipia</cite>
    </blockquote>
  </section>
  
  <section class="padding-vertical bg--gray text-center">
    <div class="grid grid--3">
      <div class="grid-item padding-all">
        <h3 class="margin-bottom">Your Success Is My Aim</h3>
        <p>I've created websites that engage millions of customers for over 10 years and am dedicated to helping you succeed.</p>
      </div>
      <div class="grid-item padding-all">
        <h3 class="margin-bottom">Understand The Need</h3>
        <p>I teach you to understand how your customer thinks so that your website solves their problems, while being a delight to use.</p>
      </div>
      <div class="grid-item padding-all">
        <h3 class="margin-bottom">Be The Champion</h3>
        <p>Multiply your business by giving your customer the best user experience possible because they deserve it, and so do you.</p>
      </div>
    </div>
    <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
  </section>
  
  <section class="padding-vertical">
    <div class="grid grid--2 grid--center-v">
      <div class="grid-item padding-horizontal no-margin-bottom text-center--mobile">
        <h2>I Care About You & Your Business</h2>
        <p class="smallw margin-top margin-bottom">I know how frustrating it can be to invest your time making your website just right, to find out it’s not as effective as you were expecting.</p>
        <ul class="margin-bottom--big list--spaced text-left--override list--centered-mobile">
          <li>Over 10 years experience</li>
          <li>Millions of engaged customers</li>
          <li>Beautiful, fast, easy to use websites</li>
        </ul>
        <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
      </div>
      <div class="grid-item hide-for-mobile">
        <img src="/img/homepage-business.jpg" alt="Man working with his hands">
      </div>
    </div>
  </section>
  
  <section class="hero padding-vertical" style="background-image:url('/img/homepage-services-bg.jpg');">
    <div class="grid grid--3 grid--between grid--gap-mobile text-center text-white">
      <div class="grid-item">
        <h4>Research</h4>
        <ul class="list--spaced list--no-dot list--no-style margin-top">
          <li>Interview Users</li>
          <li>Analyze Data</li>
          <li>Collaborate</li>
          <li>Hypothesize</li>
        </ul>
      </div>
      <div class="grid-item">
        <h4>Build</h4>
        <ul class="list--spaced list--no-dot list--no-style margin-top">
          <li>Sketch</li>
          <li>Prototype</li>
          <li>Test Users</li>
          <li>Validate Hypotheses</li>
        </ul>
      </div>
      <div class="grid-item no-margin-bottom">
        <h4>Refine</h4>
        <ul class="list--spaced list--no-dot list--no-style margin-top">
          <li>Test Users</li>
          <li>A/B Test</li>
          <li>Iterate</li>
          <li>Optimize</li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="padding-all text-center--desktop">
    <p class="callout maxw margin-bottom--big">Worried your website isn’t reaching your customers? Wish you could stop spending so much time on your website and focus on building your business? You’re not alone. You deserve to have a website that works for you. We’re here to help so you can get back to what matters.</p>
    <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
  </section>
  
  <section class="padding-vertical bg--lightgreen">
    <div class="grid grid--2 padding-horizontal">
      <div class="grid-item margin-horizontal bg--white padding-all">
        <h2>Want to Be Your Customer's Hero?</h2>
        <p class="margin-top margin-bottom">We’ve discovered six ways customers wished businesses would communicate with them. Adopting these six practices will help you:</p>
        <ul class="margin-bottom list--spaced">
          <li>Make your customers love you.</li>
          <li>Exponentially grow customer loyalty.</li>
          <li>Master your customer's needs.</li>
        </ul>
        <form class="form" method="GET" action="">
          <div class="form-field">
            <label for="first-name">First Name</label>
            <input id="first-name" class="form-input" type="text">
          </div>
          <div class="form-field">
            <label for="email">Email Address</label>
            <input id="email" class="form-input" type="email">
          </div>
          <div class="form-field no-margin-bottom">
            <input class="button button--green" type="submit" value="Download for Free">
          </div>
        </form>
      </div>
      <div class="grid-item padding-all">
        <img class="has-shadow" src="/img/homepage-pdf-cover.jpg" alt="6 Ways Customers Wished Businesses Would Communicate">
      </div>
    </div>
  </section>
  
{% endblock %}