{% extends "layout.nunjucks" %}

{% block site_title %}Beautiful Websites Everyone Loves to Use | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <section class="hero home-hero">
    <div class="hero-content text-center">
      <h1>Beautiful Websites Everyone Loves To Use</h1>
      <p class="text-white text-shadow">We'll worry about making your website fast, accessible, and easy to use so you can focus on what matters.</p>
      <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
    </div>
  </section>
  
  <section class="padding-vertical text-center">
    <blockquote class="quote">
      <p>&lquote;Alex is one of our favorite and most invaluable partners.&rquote;</p>
      <cite>Gabe Kwakyi &ndash; CEO, Incipia</cite>
    </blockquote>
  </section>
  
  <section class="padding-vertical bg--gray">
    <div class="grid">
      <div class="grid-item">
        <h3>Your Success Is Our Aim</h3>
        <p>We've created websites that engage millions of customers for over 10 years and are dedicated to helping you succeed.</p>
      </div>
      <div class="grid-item">
        <h3>Understand The Need</h3>
        <p>We teach you to understand how your customer thinks so that your website solves their problems while being a delight to use.</p>
      </div>
      <div class="grid-item">
        <h3>Be The Champion</h3>
        <p>Multiply your business by giving your customer the best user experience possible because they deserve it, and so do you.</p>
      </div>
    </div>
    <a class="button" href="/schedule-an-appointment/">Schedule An Appointment</a>
  </section>
  
  
  
{% endblock %}