{% extends "layout.nunjucks" %}

{% set page_title = "case-studies" %}

{% block site_title %}Incipia Website Case Study | {% endblock %}

{% block page_class %}case-studies{% endblock %}

{% block site_content %}
  <section class="padding-vertical--huge padding-horizontal">
    <h1>Incipia Website</h1>
    <h4>Launching a startup into the market</h4>
  </section>
  
  <section class="hero case-hero" style="background: url('/img/case-studies/incipia/incipia-bg.jpg') no-repeat; background-size: cover;">
  
  </section>
  
  <section class="grid padding-vertical padding-horizontal bg--gray">
    <h2 class="grid-item">The Challenge</h2>
    <div class="grid-item">
      <p>A brand new startup needed a web presence to describe their business to potential and convert visitors into new leads. As a new business the team had limited company work to show, requiring the site itself to to stand in as a differentiator to hook potential clients and convince them to reach out.</p>
    </div>
  </section>
  
  <section class="grid grid--2 padding-vertical padding-horizontal">
    <h2 class="grid-item">The Competition</h2>
    <div class="grid-item">
      <p>Incipia was already bringing great strategies for SEO and content to the table. We decided to also analyze the local state competition to figure out ways to differentiate and distinguish Incipia. We chose to analyze 5 agencies, giving us a good sample from which to build our strategy.</p>
      <p>This consisted of breaking down their elevator pitches (what are they about), services, strengths, weaknesses, and differentiators (what makes them different from the other 4). From here, the Incipia team and I discussed what route we should take in penetrating the market so as to not be unheard over the existing noise.</p>
    </div>
    <div class="grid-item margin-top">
      <img src="/img/case-studies/incipia/incipia-competitor-analysis-chart.jpg" alt="Spreadsheet containing information about five competitors of Incipia.">
    </div>
  </section>
  
  <section class="grid padding-vertical padding-horizontal">
    <h2 class="grid-item">Stakeholder Interviews</h2>
    <div class="grid-item">
      <p>I like to start all projects off with stakeholder interviews. It helps set expectations from the beginning, allows everyone to identify the target audience, agree upon the main project goal, and set metrics to measure our success. The main goal we established was to identify and partner with established businesses and start-ups.</p>
    </div>
  </section>
  
  <section class="grid padding-vertical padding-horizontal bg--gray">
    <h2 class="grid-item">Brainstorming</h2>
    <div class="grid-item">
      <p>There&rsquo;s nothing like a good &lsquo;ol fashioned brain-storming session – know what I mean? Where you can throw any idea on the table, no matter how ridiculous, and come up with a solution that hasn’t been done before?</p>
      <p>That&rsquo;s exactly what the Incipia team and I did. No idea was too outlandish, and the result was excitement and clear direction. We decided on building a one-page site that contained a killer animation, explaining the services and offerings of Incipia. We wanted the animation to be unobtrusive yet informative, while still maintaining a wow-factor.</p>
    </div>
  </section>
  
  <section class="grid padding-vertical padding-horizontal">
    <h2 class="grid-item">Sketching</h2>
    <div class="grid-item">
      <p>Fresh off the brainstorming session, my next step was to start wire framing and sketching the one-pager. I knew there were different components that I wanted to tackle first, specifically the main animation and call to actions. An animation is nothing without a clear and persuasive call to action.</p>
    </div>
  </section>
  
  <img src="/img/case-studies/incipia/incipia-sketches.jpg" alt="Sketch drawings of website components and to represent an animation of a house being built.">
  
  <section class="grid padding-vertical padding-horizontal">
    <h2 class="grid-item">Prototype</h2>
    <div class="grid-item">
      <p>I&rsquo;m a huge proponent of diving into the code as quickly as possible. It lets me get ideas working quickly and affords me the ability to test right from the beginning.</p>
    </div>
  </section>
  
  <section class="grid padding-vertical padding-horizontal">
    <h2 class="grid-item">Iterate</h2>
    <div class="grid-item">
      <p>One of the beautiful things of having an interactive prototype is the ability to modify, test, and pivot on the fly (within scope, of course ;). Incipia and I were able to test and validate ideas about as quickly as we could generate them.</p>
    </div>
  </section>
  
  <section class="padding-vertical padding-horizontal bg--gray">
    <div class="grid">
      <h2 class="grid-item">Technology</h2>
      <div class="grid-item">
        <p>One of the greatest privileges I had in working with Incipia was their desire to push the envelope and to utilize new and cool technology. To create the &ldquo;wow&rdquo; animation of the house building as the user scrolls, I used the skrollr library. Also, to build the site, I chose to use <a href="https://gohugo.io/" target="_blank">hugo</a>, the static site generator, due to its speed, security, and accessibility.</p>
      </div>
    </div>
    <img src="/img/case-studies/incipia/incipia-house.jpg" alt="Progression of house images, from blueprint to fully constructed.">
    <iframe src="https://player.vimeo.com/video/286883398" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>
  
  <section class="grid padding-vertical padding-horizontal">
    <h2 class="grid-item">Launch</h2>
    <div class="grid-item">
      <p>After initial site launch, we decided to pivot and break the site up into pages vs. the one-page layout. This allowed for better tracking and testing and reduced the bloat of the single page. It also made Incipia&rsquo;s desire for a blog into a reality, since another goal was to establish themselves as thought leaders.</p>
    </div>
  </section>
  <img src="/img/case-studies/incipia/incipia-homepage.jpg" alt="Screenshot of the header of the Incipia homepage.">
  
  <section class="grid grid--2 padding-vertical padding-horizontal">
    <h2 class="grid-item">Results</h2>
    <div class="grid-item">
      <p>The Incipia team shared the results the new website had on their Google Analytics 2 months after launch:</p>
    </div>
    <div class="grid-item margin-top grid grid--3 border-all">
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">95% <span>▲</span></p>
        <p class="result-metric">Sessions</p>
        <p class="result-delta">2,599 &rarr; 5,056</p>
      </div>
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">71% <span>▲</span></p>
        <p class="result-metric">Users</p>
        <p class="result-delta">2,230 &rarr; 3,805</p>
      </div>
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">473% <span>▲</span></p>
        <p class="result-metric">Pageviews</p>
        <p class="result-delta">2,945 &rarr; 16,862</p>
      </div>
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">196% <span>▲</span></p>
        <p class="result-metric">Pages / Session</p>
        <p class="result-delta">2,599 &rarr; 5,056</p>
      </div>
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">244% <span>▲</span></p>
        <p class="result-metric">Avg. Session</p>
        <p class="result-delta">:32 &rarr; 1:50</p>
      </div>
      <div class="grid-item result text-center border-all padding-all--small">
        <p class="result-percent">6% <span>▲</span></p>
        <p class="result-metric">Bounce Rate</p>
        <p class="result-delta">33.78% &rarr; 35.8%</p>
      </div>
    </div>
  </section>
  
  <section class="padding-vertical padding-horizontal text-center bg--gray">
    <blockquote class="quote">
      <p>&ldquo;Working with Alex is like a breath of fresh air because he understands the &lsquo;what&rsquo; and &lsquo;why&rsquo; of our company vision. That means we spend less time going back and forth and Alex can spend more time as the expert we need to help us tell the &lsquo;how&rsquo; we do business through our site!&rdquo;</p>
      <cite>Gabe Kwakyi &ndash; CEO, Incipia</cite>
    </blockquote>
  </section>
  
  <section class="cta bg--black padding-vertical padding-horizontal-mobile text-center">
    <p class="mediumw mauto callout no-margin-top margin-bottom">Ready to focus back on your business and not be burdened by your website?</p>
    <a class="button button--green" href="/schedule-an-appointment/">Schedule an Appointment</a>
  </section>
  
  <section class="cta padding-vertical padding-horizontal-mobile text-center">
    <p class="mediumw mauto callout no-margin-top margin-bottom">Next Case Study &rarr;</p>
    <a class="button" href="/case-studies/emmashope/">Emma's Hope Website</a>
  </section>
{% endblock %}